{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <div class="form-group">
                    {{ form.post_title.label(class="form-control-label") }}
                    {% if form.post_title.errors %}
                        {{ form.post_title(class="form-control form-conril-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.post_title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.post_title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.post_content.label(class="form-control-label") }}
                    {% if form.post_content.errors %}
                        {{ form.post_content(class="form-control form-conril-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.post_content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.post_content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}